* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  h1 {
    text-align: center;
    font-family: 'Ultra', serif;

  }

  .lettersquares-section {
    margin-top: 50px;
  }

  .row-of-squares {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
  }

  .lettersquare {
    min-width: 50px;
    height: 50px;
    border: solid 2px #70706f;
    align-items: center;
    margin: 2px;
    color: #000;
    font-size: 30px;
    text-transform: capitalize;
    padding-left: 13px;
    display: grid;
    grid-template-rows: repeat(1,5fr);   
    grid-gap: 5px;
  }

  .to-do-input-section {
    margin-top: 25px;
    text-align: center;
  }

  .keyboard-section {
    margin-top: 30px;
    text-align: center;
  }

  .keyboard-row {
    display: flex;
    justify-content: center;
    flex-direction: space-around;
    padding: 5px;
    width: 100%;
  }

  .keyboard-row button {
    cursor: pointer;
    margin: 2px;
    padding: 5px;
    user-select: none;
  }

  .wide-button {
    width: 80px;
  }

  #message {
    opacity:          0;
    transition:       opacity 0.2s ease;
    position:         absolute;
    padding:          285px 5px;
    background-color: rgba(0,0,0,0.5);
    color:            white;
    width:            calc(100% - 8px);
  }

  body.success {
    background-color: #FFD700;
    transition:       0.2s ease;
  }
  
  body.success #message {
    opacity:          1;
    transition:       opacity 0.2 ease;
  }

  body.wordleletter {
    color: white;
  }
 
  
#message {
  font-family:      Arial, Helvetica, sans-serif;
  color:            #fff;
}

  /*** Footer ***/

footer {
    background-color: #343434;
    color: white;
    text-align: center;
    padding-top: 20px;
    height: 100px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer span {
  display: block;
}