* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  h2 {
    text-align: center;
    font-size: 1rem;
    margin-top: 150px;
  }

  .lettersquares-section {
    margin-top: 50px;
  }

  .row-of-squares {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
  }

  .lettersquare {
    width: 50px;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    border: solid 2px #70706f;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 2px;
  }

  .to-do-input-section {
    margin-top: 25px;
    text-align: center;
  }


  /*** Footer ***/

footer {
    background-color: #343434;
    color: white;
    text-align: center;
    padding-top: 20px;
    height: 100px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer span {
  display: block;
}